;

html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth; /*différence avec auto?*/
}

body{ 
    font: 2.0rem;
    margin: 1;
    letter-spacing: 0.5rem;
    background-image: url(../asset/cover-batman.jpg);
}