@import url(./reset.css);

:root {
    --timberwolf: #dad5d5ff;
    --timberwolf-2: #d9cdcdff;
    --licorice: #1e191aff;
    --silver: #ada9a9ff;
    --jet: #302f2fff;
    --color-title:#FAFAFAFA; 
}
header,
nav,
main,
footer{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--timberwolf);
}
footer p{
    text-align: center;
}
section p{
    text-align: justify;
    padding: 1 .0rem;
}
div.picture img{
    display: inline-block;
    width:100% ;
    object-fit: cover;
    vertical-align: middle;

}

nav ol{ 
    list-style-type: decimal;
    line-height: 3rem;
    padding: 1.0rem ;
    padding-left: 1rem;
    color: var(--licorice);
    font-size: larger;
}

header h1, section h2, nav h2{
    font-weight: normal;
    line-height: 5rem;
    font-size: 3rem;
}

section h2, nav h2{
    background-color: var(--color-title);
    text-transform: capitalize;
    font-size: x-large;
    padding-left: 1rem;
}