@import url(./reset.css);

:root {
    --timberwolf: #dad5d5ff;
    --timberwolf-2: #d9cdcdff;
    --licorice: #1e191aff;
    --silver: #ada9a9ff;
    --jet: #302f2fff;
}
header,
nav,
main,
footer{
    max-width: 100rem;
    margin: 0 1;
    padding: 0 1rem;
    background-color: var(--timberwolf);
}
footer p{
    text-align: center;
}
div.picture img{
    display: inline-block;
    width:100% ;
    object-fit: cover;
    vertical-align: middle;

}

nav ol{ 
    list-style-type: decimal;
}